@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.widgetContainer{
  width:100%;
  display: grid;
  grid-template-columns: 9fr 3fr;

  & > p{
    text-align: right;
    align-self: center;
  }

  & > h3{
    align-self: center;
  }

  .forecastContainer{
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
}